# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Data & Models (Exclude massive raw files, keep only final weights)
*.npz
*.csv
!weights/
!weights/**/*

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
